<div class="container__big-card">
  <a href="#">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8tBDIFrZ-g5ynFSwxVr7hhcBekePCNQoyvQL3FTBjI8COOAsVV4Y1WNz0d4fShssRZnI&usqp=CAU" height="200px" alt="" class="">
  </div>
    <div class="big-card__title">
      <p>Versões do angular</p>
      <h1>Saiu nova versão do angular</h1>
    </div>
    <div class="big-card__description">
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
    </div>
  </a>
</div>
